.about {
  background-color: white;
  h1 {
    padding-left: 20px;
    padding-top: 20px;
    margin-top: 0;
  }
  .markdown-body {
    ol,
    ul {
      list-style: revert;
    }

    padding-bottom: 50px;
    padding-left: 20px;
  }
  img {
    width: 50%;
    margin-left: 35px;
    cursor: pointer;
  }
}
