* {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

.App {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  nav {
    padding: 10px 0px;
    width: 100%;
    text-align: left;
    background-color: #22252c;
    a {
      margin: 0 15px;
      color: #fff;
    }
  }

  .entry {
    width: 100%;
    text-align: center;
  }

  .input-use-name {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
  }

  pre.exam-tip {
    line-height: 1.5em;
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #20232a;
  position: sticky;
  top: 0px;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
